/* index.scss */
.logo-container {
  z-index: 0;
  width: 120%; /* Increase the width to make the logo 50% bigger */
  max-width: 700px; /* Set a maximum width to control the logo size */
  height: auto; /* Remove the fixed height to maintain aspect ratio */
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 68%; /* Move the logo to the right by 25% */
  transform: translate(-50%, -50%); /* Center the logo using absolute positioning and transform */
  padding: 20px; /* Add some padding to control the separation */
}

.solid-logo {
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: 0;
  margin: auto;
  width: 100%;
  max-width: 100%; /* Set the maximum width to prevent the logo from overflowing */
  opacity: 0;
  z-index: 1;
}

/* Center the logo container vertically in the third part of the screen */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.logo-container {
  height: 609px; /* Set the height of the logo container */
}
